.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #000000;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #ffffff;
}

.experiencia-texto strong {
  color: #000000;
  text-decoration: underline;
}

.estudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: linear-gradient(rgb(222, 207, 247), rgb(18, 194, 238));
  margin-bottom: 20px;
  border-radius: 6px;
  position: relative;
}

.estudo::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#070707, #76a7f1);
  position: absolute;
  top: 20px;
  left: -3px;
}

.ano-estudo {
  position: absolute;
  top: 22px;
  left: -90px;
  text-align: right;
  width: 80px;
  color: #000000;
  font-size: 0.875rem;
}

.estudo-nome {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.estudo-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #000000;
}

.estudo-programas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.estudo-programas li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 6px;
  background: #ffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #000000;
  }
  .experiencia-texto {
    color: #ffffff;
    font-size: 1.25rem;
  }
  .ano-estudo {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .estudo {
    grid-template-columns: 1fr;
  }
}
